<template>
  <div class="layout main">
    <Layout>
      <Row>
        <Col span="6">
          <div id="expenditure" style="height:500px"></div>
          <div id="budget"></div>
        </Col>
        <Col span="12">
          <div id="map" style="height:500px"></div>
          <div id="indicators"></div>
        </Col>
        <Col span="6">
          <div id="economic" style="height:500px"></div>
          <div id="indicatorsPolyline"></div>
        </Col>
      </Row>
      <!-- <Row>
        <Col span="16">
          <div id="indicators"></div>
        </Col>
        <Col span="8">
          <div id="indicatorsPolyline"></div>
        </Col>
      </Row>-->
    </Layout>
  </div>
</template>
<script>
import echarts from "echarts";
import "../../node_modules/echarts/map/js/china.js";
import { on, off } from "@/utils.js";
import { getSeries, token } from "@/api/getData";
export default {
  name: "Home",
  data() {
    return {
      map: null,
      indicators: null,
      economic: null,
      investmentBank: null,
      threeNewBoard: null,
      expenditure: null,
      budget: null,
      indicatorsPolylineOption: {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          },
          formatter: params => {
            let result = "";
            // params[2] && (params[2].value = params[2].value + "%");
            params.forEach(item => {
              result +=
                item.marker + " " + item.seriesName + " : " + item.value + "%";
            });
            return result;
          }
        },
        legend: {
          data: ["支出百分比"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: [
              "行政人事部",
              "后勤部",
              "技术部",
              "采购部",
              "销售部",
              "财务部",
              "研发部"
            ],
            axisLabel: {
              interval: 0,
              rotate: 40
            }
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "百分比",
            min: 0,
            max: 100,
            interval: 25,
            axisLabel: {
              formatter: "{value} %"
            }
          }
        ],
        series: [
          {
            name: "支出百分比",
            type: "line",
            stack: "广告",
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: "#BC332F" },
                  { offset: 0.5, color: "#BC332F" },
                  { offset: 1, color: "#E18C8A" }
                ])
              }
            },
            itemStyle: {
              color: "#BC332F"
            },
            data: [58, 90, 91, 34, 90, 30, 10]
          }
        ]
      },
      option: {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          },
          formatter: params => {
            let result = "";
            params[2] && (params[2].value = params[2].value + "%");
            params.forEach(item => {
              result +=
                item.marker +
                " " +
                item.seriesName +
                " : " +
                item.value +
                "</br>";
            });
            return result;
          }
        },
        legend: {
          data: ["支出金额", "预算金额"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: [
              "行政人事部",
              "后勤部",
              "技术部",
              "采购部",
              "销售部",
              "财务部",
              "研发部"
            ]
          }
        ],
        yAxis: [
          {
            name: "金额",
            type: "value"
          }
          //   {
          //     type: "value",
          //     name: "百分比",
          //     min: 0,
          //     max: 100,
          //     interval: 25,
          //     axisLabel: {
          //       formatter: "{value} %"
          //     }
          //   }
        ],
        series: [
          {
            name: "支出金额",
            type: "bar",
            data: [320, 332, 301, 334, 390, 330, 320]
          },
          {
            name: "预算金额",
            type: "bar",
            stack: "广告",
            data: [120, 132, 101, 134, 90, 230, 210]
          }
          //   {
          //     name: "支出百分比",
          //     type: "line",
          //     stack: "广告",
          //     data: [58, 90, 91, 34, 90, 30, 10]
          //   }
        ]
      },
      economicOption: {
        title: {
          text: "部门支出占比图",
          left: "center",
          top: 20
        },

        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
          show: false,
          min: 80,
          max: 600,
          inRange: {
            colorLightness: [0, 1]
          }
        },
        series: [
          {
            name: "访问来源",
            type: "pie",
            radius: "55%",
            center: ["50%", "50%"],
            data: [
              { value: 335, name: "行政人事部 25%" },
              { value: 310, name: "后勤部" },
              { value: 274, name: "技术部" },
              { value: 235, name: "采购部" },
              { value: 400, name: "销售部" },
              { value: 200, name: "财务部" },
              { value: 450, name: "研发部" }
            ].sort(function(a, b) {
              return a.value - b.value;
            })
            // roseType: "radius",
            // label: {
            //   color: "rgba(255, 255, 255, 0.3)"
            // },
            // labelLine: {
            //   lineStyle: {
            //     color: "rgba(255, 255, 255, 0.3)"
            //   },
            //   smooth: 0.2,
            //   length: 10,
            //   length2: 20
            // },
            // itemStyle: {
            //   color: "#c23531",
            //   shadowBlur: 200,
            //   shadowColor: "rgba(0, 0, 0, 0.5)"
            // },

            // animationType: "scale",
            // animationEasing: "elasticOut",
            // animationDelay: function(idx) {
            //   return Math.random() * 200;
            // }
          }
        ]
      },
      expenditureData: [],
      budgetData: []
    };
  },
  mounted() {
    this.getDataEcharts();
    let innerHeith = window.innerHeight;
    let indicators = this.$el.querySelector("#indicators");
    let budget = this.$el.querySelector("#budget");
    let indicatorsPolyline = this.$el.querySelector("#indicatorsPolyline");
    let height = `${innerHeith - 500}`;
    indicators.style.height = height + "px";
    budget.style.height = height + "px";
    indicatorsPolyline.style.height = height + "px";
    let name = this.option.xAxis[0].data;
    let scoreArr = this.option.series[0].data;
    let assetsArr = this.option.series[1].data;
    scoreArr.forEach((item, index) => {
      this.expenditureData.push({
        name: name[index],
        value: item
      });
      this.budgetData.push({
        name: name[index],
        value: assetsArr[index] || 0
      });
      //   this.economicOption.series[0].data.push({
      //       name:name[index],
      //       value:reasonArr[index] || 0
      //   })
      //   return {
      //     name: name[index],
      //     score: item,
      //     assets: assetsArr[index] || 0,
      //     reason: reasonArr[index] || 0
      //   };
    });
    // echarts.registerTheme("chalk", dark);
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  methods: {
    async getDataEcharts() {
      try {
        let data = await getSeries();
        this.$Message.success(`欢迎${data.data.username}登录`);
        if (data.data.username === "zhourong") {
          this.$nextTick(() => {
            this.setIndicatorsEcaharts();
            this.setEconomicEcharts();
            this.setExpenditureEcharts();
            this.setDudgetEcharts();
            this.setIndicatorsPolyline();
            this.setMapEcharts();
          });
        } else {
          this.$nextTick(() => {
            this.setIndicatorsEcaharts();
            this.setEconomicEcharts();
            this.setExpenditureEcharts();
            this.setDudgetEcharts();
            this.setMapEcharts();
          });
        }
      } catch (err) {
        this.$Message.success(`登录失败`);
        this.$nextTick(() => {
          this.setIndicatorsEcaharts();
          this.setEconomicEcharts();
          this.setExpenditureEcharts();
          this.setDudgetEcharts();
          this.setMapEcharts();
        });
      }
    },
    resize() {
      this.indicators.resize();
    },
    setIndicatorsEcaharts() {
      this.indicators = echarts.init(document.getElementById("indicators"));
      this.indicators.setOption(this.option);
    },
    setEconomicEcharts() {
      this.economic = echarts.init(document.getElementById("economic"));
      this.economic.setOption(this.economicOption);
    },
    setExpenditureEcharts() {
      this.expenditure = echarts.init(document.getElementById("expenditure"));
      let obj = {
        text: "支出金额占比图",
        left: "center",
        top: 20
      };

      let option = { ...this.economicOption, title: obj };
      option.series[0].data = this.expenditureData.sort((a, b) => a - b);
      this.expenditure.setOption(option);
    },
    setDudgetEcharts() {
      this.budget = echarts.init(document.getElementById("budget"));
      let obj = {
        text: "预算金额占比图",
        left: "center",
        top: 20
      };
      let option = { ...this.economicOption, title: obj };
      option.series[0].data = this.budgetData.sort((a, b) => a - b);
      this.budget.setOption(option);
    },
    setIndicatorsPolyline() {
      this.indicatorsPolyline = echarts.init(
        document.getElementById("indicatorsPolyline")
      );
      let option = this.indicatorsPolylineOption;
      this.indicatorsPolyline.setOption(option);
    },
    setMapEcharts() {
      this.map = echarts.init(document.getElementById("map"));
      const mapOption = {
        // 进行相关配置
        tooltip: {}, // 鼠标移到图里面的浮动提示框
        dataRange: {
          show: false,
          min: 0,
          max: 1000,
          text: ["High", "Low"],
          realtime: true,
          calculable: true,
          color: ["orangered", "yellow", "lightskyblue"]
        },
        geo: {
          // 这个是重点配置区
          map: "china", // 表示中国地图
          roam: true,
          label: {
            normal: {
              show: true, // 是否显示对应地名
              textStyle: {
                color: "rgba(0,0,0,0.4)"
              }
            }
          },
          itemStyle: {
            normal: {
              borderColor: "rgba(0, 0, 0, 0.2)"
            },
            emphasis: {
              areaColor: null,
              shadowOffsetX: 0,
              shadowOffsetY: 0,
              shadowBlur: 20,
              borderWidth: 0,
              shadowColor: "rgba(0, 0, 0, 0.5)"
            }
          }
        },
        series: [
          {
            type: "scatter",
            coordinateSystem: "geo" // 对应上方配置
          },
          {
            name: "启动次数", // 浮动框的标题
            type: "map",
            geoIndex: 0,
            data: [
              {
                name: "北京",
                value: 599
              },
              {
                name: "上海",
                value: 142
              },
              {
                name: "黑龙江",
                value: 44
              },
              {
                name: "深圳",
                value: 92
              },
              {
                name: "湖北",
                value: 810
              },
              {
                name: "四川",
                value: 453
              }
            ]
          }
        ]
      };
      this.map.setOption(mapOption);
    }
  }
};
</script>
