@leftBackgroundColor:rgb(30,46,61);
@leftBackColorA: rgba(30, 46, 61,.8);
@contentBackgroundColor:rgba(50,61,72,1);
@color:#ccc;
.ivu-layout-sider-children{
    background: @leftBackgroundColor;
}
.ivu-menu-light{
    background: @leftBackgroundColor;
    color:@color;
}
.ivu-layout .ivu-layout-sider-children .ivu-menu-light .ivu-menu-item-active {
    background: @leftBackColorA;
}
.ivu-menu-vertical.ivu-menu-light:after{
    background: @leftBackColorA;
}

.main .ivu-layout-content {
    background-color: @contentBackgroundColor;
    color:@color;
    padding: 0 15px 0 15px;
}