<template>
  <div id="homeMain">
    <div class="content">公司主要经营指标市场竞争力简表</div>
    <!-- <Row>
      <Col span="8">
        <div id="expenditure" style="height: 400px"></div>
      </Col>
      <Col span="8">
        <div id="budget" style="height: 400px"></div>
      </Col>
      <Col span="8">
        <div id="economic" style="height: 400px"></div>
      </Col>
    </Row>
    <Row>
      <Col>
        <div id="indicators" style="height: 400px"></div>
      </Col>
    </Row> -->
  </div>
</template>

<script>
import echarts from "echarts";
// import 'echarts/theme/chalk.js'
import dark from "@/js/dark.json";
import { on, off } from "@/utils.js";
export default {
  name: "Home",
  data() {
    return {
      indicators: null,
      economic: null,
      investmentBank: null,
      threeNewBoard: null,
      expenditure: null,
      budget: null,
      option: {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
          },
          formatter: params => {
            let result = "";
            params[2] && (params[2].value = params[2].value + "%");
            params.forEach(item => {
              result +=
                item.marker +
                " " +
                item.seriesName +
                " : " +
                item.value +
                "</br>";
            });
            return result;
          }
        },
        legend: {
          data: ["支出金额", "预算金额", "支出百分比"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            data: [
              "行政人事部",
              "后勤部",
              "技术部",
              "采购部",
              "销售部",
              "财务部",
              "研发部"
            ]
          }
        ],
        yAxis: [
          {
            name: "金额",
            type: "value"
          },
          {
            type: "value",
            name: "百分比",
            min: 0,
            max: 100,
            interval: 25,
            axisLabel: {
              formatter: "{value} %"
            }
          }
        ],
        series: [
          {
            name: "支出金额",
            type: "bar",
            data: [320, 332, 301, 334, 390, 330, 320]
          },
          {
            name: "预算金额",
            type: "bar",
            stack: "广告",
            data: [120, 132, 101, 134, 90, 230, 210]
          },
          {
            name: "支出百分比",
            type: "line",
            stack: "广告",
            data: [58, 90, 91, 34, 90, 30, 10]
            // symbolSize:10,
            // // 设置拐点为实心圆
            // symbol:'circle',
            // itemStyle: {
            //   normal: {
            //     formatter: function(params){
            //         console.log(params);
            //     },
            //     // 拐点上显示数值
            //     label : {
            //     //   show: true
            //     },
            //   }
            // }
          }
        ]
      },
      economicOption: {
        title: {
          text: "部门支出占比图",
          left: "center",
          top: 20,
          textStyle: {
            color: "#ccc"
          }
        },

        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
          show: false,
          min: 80,
          max: 600,
          inRange: {
            colorLightness: [0, 1]
          }
        },
        series: [
          {
            name: "访问来源",
            type: "pie",
            radius: "55%",
            center: ["50%", "50%"],
            data: [
              { value: 335, name: "行政人事部 25%" },
              { value: 310, name: "后勤部" },
              { value: 274, name: "技术部" },
              { value: 235, name: "采购部" },
              { value: 400, name: "销售部" },
              { value: 200, name: "财务部" },
              { value: 450, name: "研发部" }
            ].sort(function(a, b) {
              return a.value - b.value;
            }),
            roseType: "radius",
            label: {
              color: "rgba(255, 255, 255, 0.3)"
            },
            labelLine: {
              lineStyle: {
                color: "rgba(255, 255, 255, 0.3)"
              },
              smooth: 0.2,
              length: 10,
              length2: 20
            },
            itemStyle: {
              color: "#c23531",
              shadowBlur: 200,
              shadowColor: "rgba(0, 0, 0, 0.5)"
            },

            animationType: "scale",
            animationEasing: "elasticOut",
            animationDelay: function(idx) {
              return Math.random() * 200;
            }
          }
        ]
      },
      expenditureData: [],
      budgetData: []

      //   option :{
      //      title: {
      //         text: '主要指标',
      //         textStyle:{
      //            fontSize:14
      //         }
      //     },
      //     tooltip: {
      //         trigger: 'axis',
      //         axisPointer: {
      //             type: 'shadow',
      //             label: {
      //                 show: true
      //             }
      //         }
      //     },
      //     // toolbox: {
      //     //     show: true,
      //     //     feature: {
      //     //         mark: {show: true},
      //     //         dataView: {show: true, readOnly: false},
      //     //         magicType: {show: true, type: ['line', 'bar']},
      //     //         restore: {show: true},
      //     //         saveAsImage: {show: true}
      //     //     }
      //     // },
      //     calculable: true,
      //     legend: {
      //         data:[
      //           "总额(我司)",
      //           "市场份额(我司)",
      //           "行业排名(我司)",
      //           '\n',
      //           "总额(他司)",
      //           "市场份额(他司)",
      //           "行业排名(他司)"
      //         ],
      //         itemGap: 5
      //     },
      //     // grid: {
      //     //     top: '12%',
      //     //     left: '1%',
      //     //     right: '10%',
      //     //     containLabel: true
      //     // },
      //     xAxis: [
      //         {
      //             type: 'category',
      //             data: [
      //               "资产总额（合并报表/亿元）",
      //               "净资产（合并报表/亿元）",
      //               "净资本（亿元）"
      //             ]
      //         }
      //     ],
      //     yAxis: [
      //         {
      //             type: 'value',
      //             // name: 'Budget (million USD)',
      //             axisLabel: {
      //                 formatter: function (a) {
      //                     a = +a;
      //                     return isFinite(a)
      //                         ? echarts.format.addCommas(+a / 1000)
      //                         : '';
      //                 }
      //             }
      //         }
      //     ],
      //     // dataZoom: [
      //     //     {
      //     //       type:'slider',
      //     //     },
      //     //     {
      //     //         show: true,
      //     //         start: 94,
      //     //         end: 100
      //     //     }
      //     // ],
      //     series: [
      //       {
      //         name: "总额(我司)",
      //         type: "bar",
      //         data: [10, 20, 30]
      //       },
      //       {
      //         name: "市场份额(我司)",
      //         type: "bar",
      //         data: [1, 2, 3]
      //       },
      //       {
      //         name: "行业排名(我司)",
      //         type: "bar",
      //         data: [5, 6, 7]
      //       },
      //       {
      //         name: "总额(他司)",
      //         type: "bar",
      //         data: [12, 14, 23]
      //       },
      //       {
      //         name: "市场份额(他司)",
      //         type: "bar",
      //         data: [0, 9, 3]
      //       },
      //       {
      //         name: "行业排名(他司)",
      //         type: "bar",
      //         data: [5, 6, 7]
      //       }
      //     ]
      //   }
    };
  },
  mounted() {
      // this.$nextTick(() => {
    //   let innerHeith = window.innerHeight;
    //   let expenditure = this.$el.querySelector("#expenditure");
    //   expenditure.style.height = `${innerHeith / 2} px`;
    // });
    let name = this.option.xAxis[0].data;
    let scoreArr = this.option.series[0].data;
    let assetsArr = this.option.series[1].data;
    let reasonArr = this.option.series[2].data;
    scoreArr.forEach((item, index) => {
      this.expenditureData.push({
        name: name[index],
        value: item
      });
      this.budgetData.push({
        name: name[index],
        value: assetsArr[index] || 0
      });
      //   this.economicOption.series[0].data.push({
      //       name:name[index],
      //       value:reasonArr[index] || 0
      //   })
      //   return {
      //     name: name[index],
      //     score: item,
      //     assets: assetsArr[index] || 0,
      //     reason: reasonArr[index] || 0
      //   };
    });
    echarts.registerTheme("chalk", dark);
    this.$nextTick(() => {
      on(window, "resize", this.resize);
    });
    this.setIndicatorsEcaharts();
    this.setEconomicEcharts();
    this.setExpenditureEcharts();
    this.setDudgetEcharts();
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  methods: {
    resize() {
      this.indicators.resize();
    },
    setIndicatorsEcaharts() {
      this.indicators = echarts.init(
        document.getElementById("indicators"),
        "chalk"
      );
      this.indicators.setOption(this.option);
    },
    setEconomicEcharts() {
      this.economic = echarts.init(
        document.getElementById("economic"),
        "chalk"
      );
      this.economic.setOption(this.economicOption);
    },
    setExpenditureEcharts() {
      this.expenditure = echarts.init(
        document.getElementById("expenditure"),
        "chalk"
      );
      let obj = {
        text: "支出金额占比图",
        left: "center",
        top: 20,
        textStyle: {
          color: "#ccc"
        }
      };

      let option = { ...this.economicOption, title: obj };
      option.series[0].data = this.expenditureData.sort((a, b) => a - b);
      this.expenditure.setOption(option);
    },
    setDudgetEcharts() {
      this.budget = echarts.init(document.getElementById("budget"), "chalk");
      let obj = {
        text: "预算金额占比图",
        left: "center",
        top: 20,
        textStyle: {
          color: "#ccc"
        }
      };

      let option = { ...this.economicOption, title: obj };
      option.series[0].data = this.budgetData.sort((a, b) => a - b);
      this.budget.setOption(option);
    },
    setValue(arr, attr) {
      let data = [];
      arr.forEach(it => {
        let obj = {};
        obj[attr] = it;
        data.push(obj);
      });
      return data;
    }
  }
};
</script>
<style>
.content {
  text-align: center;
  font-size: 24px;
  padding: 0 0 10px 0;
}
</style>
